<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex flex-column text-center border p-5 mt-5">
        <h1>Add Post</h1>
        <form  method="post" class="d-flex flex-column text-center m-auto">
            <input type="text" name="Title" id="" placeholder="Enter the title..." class="mt-2">
            <input type="text" name="Desc" id="" placeholder="Enter the Description..." class="mt-2">
            <input type="date" name="Date" id="" placeholder="Enter the date..." class="mt-2">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</body>
</html>